extends ../../layout.pug
block contenido
    div(class="img-container")
        h1=imagen.title
        img(src="/static/imagenes/"+imagen._id+"."+imagen.extension, alt="imagenes" class="main-img")
        if(typeof imagen.creator != "undefined")
            p="El creador de la iamge es "+ imagen.creator.email