extends layout.pug
block contenido
	div(class="col-md-8 mx-auto text-center big-top-space")
		h1 bienvido amigo
		a(href="/login" class="right-space") iniciar session
		a(href="/signup") Registrese
        
            
            
