html 
    head
        title primer pagina con express
    body
        h1 hola
        form(action="/",method="POST")
            //ocupamos saber que es un middleware antes de recoger los datos
            input(type="submit", value="enviar")
        
            
            
